<!DOCTYPE html>
<html>
    <head>
        <title>Clone</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/6310013648.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <div class="container">
            <div class="head">
                <h1>Leases</h1>
                <img src="/img/headimg.jpg" alt="img">
            </div>
            
            <div class="section1">
               <img src="/img/image1.jpg" alt="">
               <div>
                <p>102 South Streat # 302,<br> 14850</p>
                <div class="pr">
                    <h5 class="price">$3.120</h5>
                    <div class="bed">
                        <button id="open">Details</button>
                    </div>
                </div>
               </div>
            </div>

            <div class="section1">
                <img src="/img/image2.jpg" alt="">
                <div>
                    <p>102 South Streat # 302,<br> 14850</p>
                    <div class="pr">
                        <h5 class="price">$3.120</h5>
                        <div class="bed">
                            <button id="open2">Details</button>
                        </div>
                    </div>
                   </div>
             </div>

             <div class="section1">
                <img src="/img/image3.jpg" alt="">
                <div>
                    <p>102 South Streat # 302,<br> 14850</p>
                    <div class="pr">
                        <h5 class="price">$3.120</h5>
                        <div class="bed">
                            <button id="open3">Details</button>
                        </div>
                    </div>
                   </div>
             </div>

             <div class="section1">
                <img src="/img/image4.jpg" alt="">
                <div>
                    <p>102 South Streat # 302,<br> 14850</p>
                    <div class="pr">
                        <h5 class="price">$3.120</h5>
                        <div class="bed">
                            <button id="open4">Details</button>
                        </div>
                        
                    </div>
                   </div>
             </div>
             <div class="section1">
                <img src="/img/image5.jpg" alt="">
                <div>
                    <p>102 South Streat # 302,<br> 14850</p>
                    <div class="pr">
                        <h5 class="price">$3.120</h5>
                        <div class="bed">
                            <button id="open5">Details</button>
                        </div>
                        
                    </div>
                   </div>
                </div>
             
        </div>
        <div class="icons">
            <i class="fas fa-user"></i>
            <i class="fas fa-map-marker-alt" ></i>
            <i class="fas fa-thumbs-up"></i>
            <i class="fas fa-file-alt" style="color: #ff2965
            ;font-size: 38px;"></i>
            <i class="fas fa-home"></i>
        </div>
        <div class="model-container" id="model_container">
            <div class="model">
                <button id="close">x</button>
                <p>
                    Area: Mumbai country: India <br>
                    3 bedroom 1 hall <br>
                    Parking available <br>
                    price: $3.120
                </p>
                
             </div>
        </div>
        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>